* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
  }
  
  body {
    background-color: rgb(30, 30, 38)
    ;
  }

  h1 {
    margin: 32px 0;
    color: #dedede;
    font-size: 24px;
  }

  .todo-complete {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4px auto;
    color: #dedede;
    background-color: #2f2f2f ;
    padding: 16px;
    border-radius: 5px;
    width: 90%;
    text-decoration: line-through;
    opacity: 0.4;

  }

  .todo-form {
    margin-bottom: 32px;
  }

  .todo-form__input {
    padding: 14px 32px 14px 16px;
    border-radius: 4px 0 0 4px;
    border: 2px solid rgb(30, 30, 38);
    outline: none;
    width: 320px;
    background: transparent;
    color: #dedede;
  }

  
  .todo-form__button {
    padding: 16px;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    outline: none;
    background-color: rgb(30, 30, 38);
    color: #dedede;
    text-transform: capitalize;
  }

  
  .todo-uncomplete {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4px auto;
    color: #dedede;
    background-color: #2f2f2f ;
    padding: 16px;
    border-radius: 5px;
    width: 90%;
  }
 

  .icons {
    display: flex;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
  }
  
  .delete-icon {
    margin-right: 5px;
    color: #fff;
  }
  
  .edit-icon {
    color: #fff;
  } 

  