.filter-container {
  display: flex;
  justify-content: center;
  height: 30px;

  &__list {
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
    background-color: rgb(175, 175, 174);
    border-left: none;
  }
}

select {
  background-color: #dedede;
  outline: none;
  border: none;
}
